@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", font-serif;
  @apply bg-red-100;
}

.humberger_line {
  @apply my-1 block h-[2px] w-[18px] bg-primary transition-all duration-300;
}

.humberger_active > span:nth-child(1) {
  @apply rotate-45 bg-primary;
}

.humberger_active > span:nth-child(2) {
  @apply scale-0;
}

.humberger_active > span:nth-child(3) {
  @apply -rotate-45  bg-primary;
}

.display_baru_header {
  @apply fixed z-[9998] bg-red-300 bg-opacity-70 shadow-lg backdrop-blur-md transition-all duration-300;
}

.active {
  @apply font-extrabold text-dark;
}

[data-active] {
  @apply z-20 opacity-100;
  transition-delay: 0;
}

.alertSuccess {
  @apply block  rounded-md bg-green-500 py-[4px] text-center text-slate-200 shadow-sm md:py-[5px];
}

.alertEroor {
  @apply block  rounded-md bg-red-500 py-[4px] text-center text-slate-200 shadow-sm md:py-[5px];
}
