@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", font-serif;
  @apply bg-red-100;
}

.humberger_line {
  @apply w-[19px] h-[2px] bg-primary block my-1 transition-all duration-300;
}

.humberger_active > span:nth-child(1) {
  @apply bg-primary rotate-45;
}

.humberger_active > span:nth-child(2) {
  @apply scale-0;
}

.humberger_active > span:nth-child(3) {
  @apply bg-primary  -rotate-45;
}

.display_baru_header {
  @apply fixed bg-red-300 bg-opacity-90 shadow-lg z-[9998] duration-300 transition-all;
  backdrop-filter: blur(5px);
}

.active {
  @apply text-dark font-extrabold;
}

[data-active] {
  @apply opacity-100 z-20;
  transition-delay: 0;
}

.alertSuccess {
  @apply text-slate-200 block bg-green-500 rounded-md shadow-sm text-center py-[4px] md:py-[5px] max-w-2xl mx-auto;
}

.alertEroor {
  @apply text-slate-200 block bg-red-500 rounded-md shadow-sm text-center max-w-2xl mx-auto py-[4px] md:py-[5px];
}
